@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import "tailwindcss";

@theme {
  /* Custom Fonts */
  --font-sans:
    -apple-system, BlinkMacSystemFont, "SF Pro Display", "SF Pro Text",
    "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  --font-round: "Quicksand", sans-serif;

  /* Custom Colors */
  --color-base-black: #0b0b0c;
  --color-base-dark: #1d1d1f;
  --color-base-gray: #86868b;
  --color-base-light: #f5f5f7;
  --color-base-blue: #2997ff;

  --color-base-1: #ffffff;
  --color-base-2: #f5f5f5;

  --color-accent-1: #0066cc;
  --color-accent-2: #0055aa;
  --color-accent-3: #e5e5ea;

  --color-contrast-1: #1d1d1f;
  --color-contrast-2: #3e3e3e;
  --color-contrast-3: #424245;
  --color-contrast-4: #86868b;

  --color-notices-1: #13612e;
  --color-notices-2: #1159af;
  --color-notices-3: #b82105;
  --color-notices-4: #f7630c;
  --color-notices-5: #f5a524;

  /* Letter Spacing */
  --tracking-tightest: -0.04em;
  --tracking-tighter: -0.02em;

  /* Linear Gradients */
  --background-image-glow: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.03) 0%,
    rgba(255, 255, 255, 0) 70%
  );
  --background-image-gradient-silver: linear-gradient(90deg, #fff, #86868b);
  --background-image-gradient-blue: linear-gradient(
    135deg,
    #0071e3 0%,
    #42a5f5 100%
  );
}
@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-base-light text-base-dark dark:bg-base-black dark:text-base-light;
  }
  .site-header {
    @apply fixed;
  }
  body.admin-bar .site-header {
    position: fixed !important;
    top: 32px !important;
  }
  @media (max-width: 782px) {
    body.admin-bar .site-header {
      top: 46px !important;
    }
  }
  @media (max-width: 600px) {
    body.admin-bar .site-header {
      position: sticky !important;
      top: 0 !important;
    }
  }
  li {
    @apply list-none;
  }
  a {
    text-decoration: none;
  }
}

@utility text-shadow-bold {
  text-shadow:
    0.5px 0.5px 0 currentColor,
    -0.5px -0.5px 0 currentColor,
    0.5px -0.5px 0 currentColor,
    -0.5px 0.5px 0 currentColor;
}
